@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(#f1f5f9, #f1f5f9, #818ea0)
}

section {
	margin-top: 2.5rem;
  margin-bottom: 2.5rem; 
}

label {
  display: block;
  color: #718096;
  font-size: 0.875rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}



